language: python
addons:
  apt:
    packages:
      - gfortran
      - liblapack-dev
      - libblas-dev
python:
   - "2.6"
   - "2.7"
virtualenv:
   system_site_packages: true
before_install:
  - pip install cython
  - pip install numpy
  - pip install nose
install: 
   - "pip install -e ."
script:
   # Change working directory away from root
   - "cd ../../"
   - "nosetests dgw.tests"
