language: python
python:
   - "2.6"
   - "2.7"
virtualenv:
   system_site_packages: true
before_install:
   - "sudo apt-get update -qq"
   - "sudo apt-get install -qq gfortran libblas-dev liblapack-dev python-numpy python-scipy"
   # Workaround for a permissions issue with Travis virtual machine images
   # that breaks Python's multiprocessing:
   # https://github.com/travis-ci/travis-cookbooks/issues/155
   - "sudo rm -rf /dev/shm"
   - "sudo ln -s /run/shm /dev/shm"
install: 
   - "pip install -e ."
script:
   # Change working directory away from root
   - "cd ../../"
   - "nosetests dgw.tests"
